.registro-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura al 100% del viewport */
    margin-bottom: 5%;
    
  }
  
  .regitro-form{
    padding: 3rem;
    background: rgba(40, 39, 38, 0.8); /* Color de fondo semi-transparente */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem; /* Reducimos el radio de borde */
    width: 400px; /* Ancho fijo del formulario */
  }
  input[type="text"],
  input[type="password"] {
    margin-bottom: 10px; /* Añadimos margen inferior a los campos de texto */
    padding: 0.5rem; /* Añadimos padding para mejorar la apariencia */
    width: 100%; /* Ancho completo */
    border-radius: 0.5rem; /* Borde redondeado */
    border: 1px solid #1038ff; /* Borde con color */
  }
  .regitro-form h3{
    text-align: center;
    margin-bottom: 2rem; /* Reducimos el margen inferior */
    color: #fff;
    font-size: 50px;
  }
  .btnSubmit{
    font-weight: 600;
    width: 100%; /* Ancho completo del botón */
    margin-top: 25px; /* Añadimos un margen superior */
  }
 
  .btn-regresar {
    margin-top: 1rem; /* Añadimos un margen superior */
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center; /* Centramos el texto */
    width: 100%; /* Ancho completo del enlace */
    display: block; /* Convertimos el enlace en un bloque para que ocupe todo el ancho */
  }
  
  .btn-regresar:hover{
    text-decoration: none;
    color: #1038ff;
  }