.navbar-container {
  margin-top: 10px;
  margin-bottom: 1%;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #ad2929;
}

.navbar-scroll {
  background-color: #FFC017;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #e6dede;
}

.navbar-scrolled {
  background-color: rgba(240, 237, 235, 0.8);
}

.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.navbar {
  box-shadow: 15px 15px 15px rgba(194, 193, 193, 0.49);
}

.nav-link {
  color: #050505; /* Cambia el color de los enlaces según tu diseño */
}

.nav-link.active {
  font-weight: bold; /* Cambia el estilo del enlace activo según tu diseño */
}

.dropdown-menu {
  background-color: #ffffff; /* Cambia el color de fondo del menú desplegable según tu diseño */
}


.dropdown-menu a:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón por encima del enlace */
  color: #093aff; /* Cambia el color del texto al pasar el ratón por encima del enlace */
}

.dropdown-menu a.dropdown-item.active,
.dropdown-menu a.dropdown-item:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo del enlace activo o al pasar el ratón por encima */
  color: #333; /* Cambia el color del texto del enlace activo o al pasar el ratón por encima */
}
