.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
  }
  
  .register-form {
    width: 350px; /* Aumenta el ancho del formulario */
    padding: 20px;
    border-radius: 10px;
    background-color: #333; /* Color de fondo del formulario */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* Sombra */
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: calc(100% - 20px); /* Ajusta el ancho del input */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px;
    background-color: #555; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invierte los colores del icono del calendario */
  }
  
  button[type="submit"] {
    margin-top: 15px; /* Añade un margen superior */
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.1); /* Sombreado */
    font-size: 25px;
    text-align: center;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
  }
  
  Link {
    color: #007bff; /* Color del enlace */
    text-decoration: none;
    text-align: center;

  }
  
  Link:hover {
    text-decoration: underline; /* Subrayado del enlace al pasar el mouse */
  }
  